{
    "extends": ["stylelint-config-standard", "stylelint-config-standard-scss", "stylelint-config-prettier"],
    "rules": {
        "indentation": 4,
        "selector-class-pattern": null,
        "string-quotes": "single"
    }
}
