@font-face {
    font-family: '_Gilroy';
    src: url('~/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('~/assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}